<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gstory.file_preview">
    <application>
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>
    </application>
</manifest>
